<main class="grey-text text-darken-2">
  <div id="feed" class="row" infinite-scroll='loadMore()' infinite-scroll-distance='1'>

    <div ng-repeat="item in starship.list">
      <a ui-sref="app.feed.detail({id: $index})">
        <div ng-if="item.length <= 1000">
          <div class="col s12 m12 z-depth-1 hoverable waves-effect waves-light story-cover yellow starship-card" style="font-family: 'Lucida Console', Monaco, monospace;">
            <h3> {{item.name}} </h3>
            <p> {{item.model}} </p>
            <br/>
          </div>
        </div>
        <div ng-if="item.length > 1000">
          <div class="col s12 m12 z-depth-1 hoverable waves-effect waves-light story-cover yellow starship-card darken-3">
            <h3> {{item.name}} </h3>
            <p> {{item.model}} </p>
            <br/>
          </div>
        </div>
      </a>
    </div>

    <div class="col s12 m12 white center-block" style="text-align:center">
      <img id="feed-loading" ng-show="isLoading" src="/images/loading.gif" />
    </div>
  </div>
</main>
