<div id="starship-detail" class="col s12 m12">
  <h1>{{starship.detail.name}}</h1>
  <h3>{{starship.detail.model}}</h3>
  <h5>Manufacturer: <b>{{starship.detail.manufacturer}}</b></h5>
  <h5>Cost: <b>{{starship.detail.cost_in_credits}} credits</b></h5>
  <h5>Class: <b>{{starship.detail.starship_class}}</b></h5>
  <h5>Length: <b>{{starship.detail.length}}</b></h5>
  <h5>Max atmosphering speed: <b>{{starship.detail.max_atmosphering_speed}}</b></h5>
  <h5>Crew: <b>{{starship.detail.crew}}</b></h5>
  <h5>Passengers: <b>{{starship.detail.passengers}}</b></h5>
  <h5>Cargo Capacity: <b>{{starship.detail.cargo_capacity}}</b></h5>
  <h5>Consumables: <b>{{starship.detail.consumables}}</b></h5>
  <h5>Hyperdrive Rating: <b>{{starship.detail.hyperdrive_rating}}</b></h5>
  <h5>MGLT: <b>{{starship.detail.MGLT}}</b></h5>
</div>
