<header>
  <div class="navbar-fixed">
    <nav class="grey" role="navigation">
      <div class="nav-wrapper">
        <a class="brand-logo center yellow-text text-darken-1" href="/" ui-sref="app.feed">Starships of Star Wars</a>
        <form class="left">
          <div class="input-field">
            <input id="search-input" class="yellow-text" type="search">
            <label class="right" for="search-input"><i class="material-icons yellow-text">search</i></label>
            <i id="search-close" class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
  </div>
</header>
